{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}

{% block body %}
    {# maybe for production it's better to use the CDN?  Bootstrap 4?
    <link href="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}" rel="stylesheet" id="bootstrap-css">

    <script src="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    #}

    <div class="container">

        <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>

        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        </div>

    </div>


        <div class="col-xs-12">

            <div class="page-header">
                <h3>Bootstrap 3.3.0</h3>
                <p>Responsive Moving Box Carousel Demo</p>
            </div>

            <div class="carousel slide" id="myCarousel">
                {# https://bootsnipp.com/snippets/featured/responsive-moving-box-carousel #}
                <div class="carousel-inner">
                        <ul class="thumbnails">

                            {% for photo in photos %}
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="{{ asset('images/' ~ photo.filename) | imagine_filter('squared_thumbnail') }}" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>{{ photo.title }}</h4>
                                        <p>{{ photo.description }}</p>
                                        <a class="btn btn-mini" href="{{ path('photo_detail', {id: photo.id}) }}">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                </div>


                <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                    </ul>
                </nav>
                <!-- /.control-box -->

            </div><!-- /#myCarousel -->

        </div><!-- /.col-xs-12 -->

    </div><!-- /.container -->


<div class="example-wrapper">
    <h1>Rapp Who We Are</h1>
    <div class="container">
        <div id="carousel">

            {% for image in photos %}
                <a href="{{ path('photo_detail', {id: image.id}) }}">
                    <figure>
                    <img src="{{ asset('images/' ~ image.filename) | imagine_filter('squared_thumbnail') }}" alt="{{ image.filename }}"></figure>
                </a>
            {% endfor %}
            {#
            <figure><img src="http://lorempixel.com/186/116/nature/2" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/4" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
            <figure><img src="http://lorempixel.com/186/116/people/9" alt=""></figure>
            #}
        </div>
    </div>


    There are {{ photos|length }} photos in the database.


    {% for image in photos %}
    <a href="{{ path('photo_detail', {id: image.id}) }}">

    <img alt="{{ image.filename }}" title="{{ asset(image.filename) }}" src="{{ asset('images/' ~ image.filename) | imagine_filter('squared_thumbnail') }}" />
    </a>
        <br />
    {% endfor %}

        <a href="{{ path('easyadmin') }}" class="btn btn-lg">
            <button>
            Open EasyAdmin
            </button>
        </a>

    Root: {{ rootDir }}, Project

</div>
{% endblock %}
